# SPDX-FileCopyrightText: 2025 László Vaskó <opensource@vlaci.email.com>
#
# SPDX-License-Identifier: EUPL-1.2

/target

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Development
.direnv/
.venv/
.pre-commit-config.yaml

# Unit test / coverage reports
htmlcov/
.coverage

# Profiling / fuzzing artifacts
flamegraph.svg
perf.data
perf.data.old
fuzz-*.log
result
